.p1{
	background-color: pink;
	color: red;
	display:block;
}
p,h1{
	background-color:pink;
	color:blue;

}
.p2{
	background-color: yellow;
	display: inline-block;
	height:100px;
	width: 200px;
}
p a{
	color:green;
}
.div1{
	width:100%;
	height:1000px;
	background: url('PhotoGrid_Plus_1609745814053.jpg');
	background-repeat: no-repeat;
	background-attachment:fixed;
}